html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
p,
input,
button {
  font-family: "Nunito", sans-serif;
}

body {
  font-family: "Nunito", sans-serif;
  color: #222;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

* {
  box-sizing: border-box;
}
